In [1]:
import pandas  as pd

In [4]:
df_notes =  pd.read_csv('../data/lesson_notes_2023_04_12',index_col=0)

In [6]:
df_notes.head()

  hanzi                   full_text note_type      date
0  碎片时间  碎片时间 sui4 pian4 shi2 jian1     Vocab  2023 4 5
1    总结               总结 zong3 jie2     Vocab  2023 4 5
2  总结起来    总结起来 zong3 jie2 qi3 lai2     Vocab  2023 4 5
3   收藏家        收藏家 shou1 cang2 jia1     Vocab  2023 4 5
4    收藏              收藏 shou1 cang2     Vocab  2023 4 5

In [7]:
df_notes.note_type.value_counts()

Vocab       606
English     153
Sentence    121
Phrase       62
Name: note_type, dtype: int64

In [ ]:
df_